# Created with the help of the .ignore support plugin (hsz.mobi)

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.cache
.cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Neptune
output

# IntelliJ
out/
.idea/

# log files
*.log

# minerva
#resources/
