pandas==0.22.0
tqdm==4.11.2
pydot_ng==1.0.0
click==6.7
numpy==1.14.0
matplotlib==2.1.1
opencv_python==3.4.0.12
neptune_cli==2.6.1
imgaug==0.2.5
ipython==6.2.1
Pillow==5.0.0
scikit_learn==0.19.1
PyYAML==3.12
h5py==2.7.1
