click==6.7
h5py==2.7.1
imgaug==0.2.5
ipython==6.2.1
jupyter==1.0.0
matplotlib==2.1.1
neptune-cli
numpy==1.14.0
opencv-python==3.4.0.12
pandas==0.22.0
Pillow==6.2.0
PyTurboJPEG==1.1.2
pydot_ng==1.0.0
pyyaml>=4.2b1
tqdm==4.11.2
scikit-learn==0.19.1
